@font-face {
  font-family: AkkuratPro;
  src: local(AkkuratPro-Regular), url(AkkuratPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: AkkuratPro;
  src: local(AkkuratPro-Bold), url(AkkuratPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: ChronicleDisplay-Roman;
  src: local(ChronicleDisplay-Roman),
    url(ChronicleDisplay-Roman.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: ChronicleTextG1-Roman;
  src: local(ChronicleTextG1-Roman),
    url(ChronicleTextG1-Roman.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeorgiaBoldItalic;
  src: local(GeorgiaBoldItalic), url(GeorgiaBoldItalic.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Georgia;
  src: local(Georgia), url(Georgia.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeorgiaBold;
  src: local(GeorgiaBold), url(GeorgiaBold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeorgiaItalic;
  src: local(GeorgiaItalic), url(GeorgiaItalic.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MrPorterStd;
  src: local(MrPorterStd), url(MrPorterStd.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SackersGothicStd-Heavy;
  src: local(SackersGothicStd-Heavy),
    url(SackersGothicStd-Heavy.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: theOutnet;
  src: local(THEOUTNET-Body), url(THEOUTNET-Body.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: theOutnetItalic;
  src: local(THEOUTNET-BodyItalic),
    url(THEOUTNET-BodyItalic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: theOutnetBold;
  src: local(THEOUTNET-Bold), url(THEOUTNET-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: theOutnetBoldItalic;
  src: local(THEOUTNET-BoldItalic),
    url(THEOUTNET-BoldItalic.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
